<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>鲜花网</title>
<link rel="stylesheet" href="./style/reset.css">
<link rel="stylesheet" href="./style/index.css">
</head>
<body>

	<!-- 顶部广告 -->
	<div id="banner_top">
		<div class="box"></div>
	</div>  

	<!-- 顶部导航 -->
	<div id="top_nav">
		<div class="top_nav_con">
			<ul class="top_nav1">
				<li>
					<a href="#"><span></span>收藏鲜花网(hua.com)</a>
				</li>
				<li>
					<a href="#"><span></span>关注微信</a>
					<div class="box1">
						<img src="./image/watch.png" alt="">
						<p>
							扫码关注
							<br>
							回复"礼物" 更多惊喜！
						</p>
					</div>
				</li>
				<li>
					<a href="#"><span></span>礼花网app</a>
					<div class="box2">
							<img src="./image/app.png" alt="">
							<p>新人专享100元APP礼包</p>
						</div>
				</li>
			</ul>
			<ul class="top_nav2">
				<li><a href="#">你好，请登录</a><a href="#">注册</a></li>
				<li><a href="#">订单查询</a></li>
				<li class="menu">
					<a class="fuwu" href="">客服服务<span class="arrow"></span></a>
					<div class="drop-box">
						<a href="">在线付款</a>
						<a href="">帮助中心</a>
						<a href="">售后服务</a>
						<a href="">配送范围</a>
						<a href="">留言反馈</a>
					</div>
				</li>
				<li><a href="">购物车(0)</a></li>
				<li>中国鲜花礼品网:中国鲜花网领先品牌</li>
			</ul>
		</div>
		
	</div>
	<!-- 搜索栏 -->
	<div id="hader">
		<div class="hader_con">
			<div class="logo"><a href="#"></a></div>
			<div class="sear_box">
				<div class="sear_box1">
					<div class="icon"><span></span></div>
					<input type="text" placeholder="商品搜索">
					<button>搜索</button>
				</div>
				<div class="sear_box2">
					<a href="#">红玫瑰</a>
					<a href="#">永生花</a>
					<a href="#">生日鲜花</a>
					<a href="#">礼品卡</a>
				</div>
			</div>
			<div class="service">
				<div class="phone">
					<span></span>
					<h3>400-889-8188</h3>
				</div>
				<div class="online_ser">
					<span></span>
					<h3>在线客服</h3>
				</div>
			</div>
		</div>
	</div>

	<!-- 导航 -->
	<div id="navi">
		<div class="navi_con">
			<div class="categorys">
				<span></span>
				<a href="#">所有分类</a>
			</div>
			<!-- 所有分类下列表 -->
			<div class="drow_cate">
				<!-- 鲜花用途列表 -->
				<div class="box1">
					<h4><a href="##">鲜花用途</a></h4>
					<ul>
						<li><a href="#">爱情鲜花</a></li>
						<li><a href="#">生日鲜花</a></li>
						<li><a href="#">友情鲜花</a></li>
						<li><a href="#">问候长辈</a></li>
						<li><a href="#">探病慰问</a></li>
						<li><a href="#">道歉鲜花</a></li>
						<li><a href="#">祝贺鲜花</a></li>
						<li><a href="#">婚庆鲜花</a></li>
						<li><a href="#">商务鲜花</a></li>
					</ul>
				</div>
				<!-- 鲜花花材列表 -->
				<div class="box2">
					<h4><a href="##">鲜花花材</a></h4>
					<ul>
						<li><a href="#">玫瑰</a></li>
						<li><a href="#">康乃馨</a></li>
						<li><a href="#">百合</a></li>
						<li><a href="#">向日葵</a></li>
						<li><a href="#">扶郎</a></li>
						<li><a href="##">郁金香</a></li>
						<li><a href="##">马蹄莲</a></li>
					</ul>
				</div>
				<!-- 永生花列表 -->
				<div class="box3">
					<!-- 左边 -->
					<div class="box_l">
						<h4><a href="##">永生花</a><span></span></h4>
						<ul>
							<li><a href="##">永生花瓶</a></li>
							<li><a href="##">经典花瓶</a></li>
							<li><a href="##">特色永生花</a></li>
						</ul>
					</div>
					<div class="box_r">
						<div class="list_t">
							<h3>永生花类别</h3>
							<div class="items_t">
								<!-- <a href="##">
									<img src="https://img02.hua.com/m/category/Classification/m_category_ppf_sort_Vase.png" alt="">
									<p>永生瓶花</p>
								</a> -->
							</div>
						</div>
						<div class="list_b">
							<h3>对象</h3>
							<div class="items_b">
								<!-- <a href="##">
									<img src="https://img02.hua.com/m/category/Classification/m_category_ppf_sort_Vase.png" alt="">
									<p>永生瓶花</p>
								</a> -->
							</div>
						</div>
					</div>
				</div>
				<!-- 蛋糕列表 -->
				<div class="box4">
					<div class="box_l">
							<h4><a href="##">蛋糕</a><span></span></h4>
							<ul>
								<li><a href="##">元祖</a></li>
								<li><a href="##">幸福西饼</a></li>
								<li><a href="##">21cake</a></li>
								<li><a href="##">诺心蛋糕</a></li>
								<li><a href="##">窝夫小子</a></li>
								<li><a href="##">BONCAKE</a></li>
							</ul>
					</div>
					<div class="box_r">
						<div class="list_t">
							<h3>蛋糕品牌</h3>
							<div class="items_t">
								<!-- <a href="##">
									<img src="https://img02.hua.com/m/category/Classification/m_category_cake_ganso.png" alt="">
									<p>元祖蛋糕</p>
								</a> -->
							</div>
						</div>
						<div class="list_b">
							<h3>蛋糕城市</h3>
							<div class="items_b">
								<a href="##">北京</a>
								<a href="##">北京</a>
								<a href="##">北京</a>
							</div>
						</div>
					</div>
				</div>
				<div class="box5">
					<div class="box_l">
						<h4>
							<a href="##">礼品</a>
							/<a href="##">公仔</a>
							/<a href="##">绿植</a>
							<span></span>
						</h4>
					</div>
				</div>
			</div>
			<ul class="liebiao">
				<li><a href="#">鲜花</a></li>
				<li><a href="#">永生花</a></li>
				<li><a href="#">蛋糕</a></li>
				<li><a href="#">礼品</a></li>
				<li><a href="#">巧克力</a></li>
				<li><a href="#">花语大全</a></li>
				<li><a href="#">企业团购</a></li>
				<li><a href="#">设计师臻选鲜花</a></li>
				<li><a href="#">情人节鲜花礼物</a></li>
			</ul>
		</div>
	</div>


	<script src="./script/jquery-1.8.3.js"></script>
	<script src="./script/index.js"></script>

	<script>
		
	</script>

</body>
</html>