<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>鲜花网</title>
<link rel="stylesheet" href="./style/reset.css">
<link rel="stylesheet" href="./style/index.css">
</head>
<body>

	<!-- 顶部广告 -->
	<div id="banner_top">
		<div class="box"></div>
	</div>  

	<!-- 顶部导航 -->
	<div id="top_nav">
		<div class="top_nav_con">
			<ul class="top_nav1">
				<li>
					<a href="#"><span></span>收藏鲜花网(hua.com)</a>
				</li>
				<li>
					<a href="#"><span></span>关注微信</a>
					<div class="box1">
						<img src="./image/watch.png" alt="">
						<p>
							扫码关注
							<br>
							回复"礼物" 更多惊喜！
						</p>
					</div>
				</li>
				<li>
					<a href="#"><span></span>礼花app</a>
					<div class="box2">
							<img src="./image/app.png" alt="">
							<p>新人专享100元APP礼包</p>
						</div>
				</li>
			</ul>
			<ul class="top_nav2">
				<li><a href="#">你好，请登录</a><a href="#">注册</a></li>
				<li><a href="#">订单查询</a></li>
				<li class="menu">
					<a class="fuwu" href="">客服服务<span class="arrow"></span></a>
					<div class="drop-box">
						<a href="">在线付款</a>
						<a href="">帮助中心</a>
						<a href="">售后服务</a>
						<a href="">配送范围</a>
						<a href="">留言反馈</a>
					</div>
				</li>
				<li><a href="">购物车(0)</a></li>
				<li>中国鲜花礼品网:中国鲜花网领先品牌</li>
			</ul>
		</div>
		
	</div>
	<div id="hader">
		<div class="hader_con">
			<div class="logo"><a href="#"></a></div>
			<div class="sear_box">
				<div class="sear_box1">
					<div class="icon"><span></span></div>
					<input type="text" placeholder="商品搜索">
					<button>搜索</button>
				</div>
				<div class="sear_box2">
					<a href="#">红玫瑰</a>
					<a href="#">永生花</a>
					<a href="#">生日鲜花</a>
					<a href="#">礼品卡</a>
				</div>
			</div>
		</div>
			
		
	</div>
	<script src="./script/index.js"></script>


</body>
</html>