<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- 解决图片显示问题 -->
<meta name="referrer" content="no-referrer"/>
<title>购物车</title>
<link rel="stylesheet" href="./style/reset.css">
<link rel="stylesheet" href="./style/shoppingcart.css">
</head>
<body>

  <!-- 顶部导航 -->
	<div id="top_nav">
      <div class="top_nav_con">
        <ul class="top_nav1">
          <li>
            <a href="#"><span></span>收藏鲜花网(hua.com)</a>
          </li>
          <li>
            <a href="#"><span></span>关注微信</a>
            <div class="box1">
              <img src="./image/watch.png" alt="">
              <p>
                扫码关注
                <br>
                回复"礼物" 更多惊喜！
              </p>
            </div>
          </li>
          <li>
            <a href="#"><span></span>礼花网app</a>
            <div class="box2">
                <img src="./image/app.png" alt="">
                <p>新人专享100元APP礼包</p>
              </div>
          </li>
        </ul>
        <ul class="top_nav2">
          <li><a href="#">你好，请登录</a><a href="#">注册</a></li>
          <li><a href="#">订单查询</a></li>
          <li class="menu">
            <a class="fuwu" href="">客服服务<span class="arrow"></span></a>
            <div class="drop-box">
              <a href="">在线付款</a>
              <a href="">帮助中心</a>
              <a href="">售后服务</a>
              <a href="">配送范围</a>
              <a href="">留言反馈</a>
            </div>
          </li>
          <li><a href="./shoppingcart.html">购物车(0)</a></li>
          <li>中国鲜花礼品网-友情鲜花</li>
        </ul>
      </div>
    </div>

    <!-- 搜索栏 -->
	<div id="hader">
      <div class="hader_con">
        <div class="logo"><a href="#"></a></div>
        <div class="service">
          <div class="phone">
            <span></span>
            <h3>400-889-8188</h3>
          </div>
          <div class="online_ser">
            <span></span>
            <h3>在线客服</h3>
          </div>
        </div>
      </div>
    </div>

  <div class="wrap">
    <div class="head">
      <span>商品名称</span>
      <span>订购价</span>
      <span>数量</span>
      <span>操作</span>
    </div>
    <ul class="list">
      <li>
        <input type="checkbox">
        <img src="https://img11.360buyimg.com/n7/jfs/t1/170810/11/3359/266408/600677efE384c620f/098693b4710d823d.jpg" alt="">
        <h3>Satchi沙驰女鞋新款格子布尖头拼接单鞋 细跟高跟鞋女E237729A 蓝/黑E237730A 36</h3>
        <p>168.88</p>
        <span>
          <div class="jian">-</div>
          <input type="text" class="cart-input" value="9">
          <div class="jia">+</div>
        </span>
        <em>删除</em>
      </li>
      <li>
        <input type="checkbox">
        <img src="https://img11.360buyimg.com/n7/jfs/t1/170810/11/3359/266408/600677efE384c620f/098693b4710d823d.jpg" alt="">
        <h3>Satchi沙驰女鞋新款格子布尖头拼接单鞋 细跟高跟鞋女E237729A 蓝/黑E237730A 36</h3>
        <p>168.88</p>
        <span>2</span>
        <em>删除</em>
      </li>
    </ul>
    <div class="close">
      <div class="close_l">
          <span class="atten">继续挑选</span>
        <!-- <span class="everall"><input type="checkbox"> 全选</span>
        <span class="dele">删除选中的商品</span>
        <span class="atten">移入关注</span>
        <span class="clean">清理购物车</span> -->
      </div>
      <div class="close_f">
        <span class="amount-sum">已选择<em>0</em>件商品</span>
        <span class="zongjia">总价:</span>
        <span class="priceShow">￥<em>0</em></span>
        <span class="jiesuan">去结算</span>
      </div>
  </div>


  </div>

   <!-- 底部 -->
   <div id="footer">
      <div class="footer_con">
        <div class="ft_nav">
          <a href="##">首页</a>
          <a href="##">关于我们</a>
          <a href="##">媒体报道</a>
          <a href="##">联系方式</a>
          <a href="##">企业团购</a>
          <a href="##">花店入驻</a>
          <a href="##">友情链接</a>
          <a href="##">在线补款</a>
          <a href="##">为什么选择中国鲜花礼品网</a>
        </div>
        <div class="ft_site">
          <div class="ft-auth">
            <span class="slogan"></span>
            <span class="xiaofei"></span>
            <span class="jing"></span>
            <span class="gongsh">
              <img src="https://szcert.ebs.org.cn/Images/govIcon.gif" alt="">
            </span>
          </div>
          <p>中国花卉协会会员 中国电子商务协会会员 ICP经营许可证：粤B2-20050744 | 粤ICP备09171662号 粤公网安备44030502000373号 Copyright © 2005-2021</p>
          <p>花礼网 （中国鲜花礼品网） www.hua.com 深圳市百易信息技术有限公司 中国领先鲜花网品牌,友情鲜花专递服务！</p>
        </div>
      </div>
    </div>



<script src="./script/jquery-1.8.3.js"></script>
<script src="./script/shoppingcart.js"></script>
</body>
</html>