<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<!-- 解决图片显示问题 -->
<meta name="referrer" content="no-referrer"/>
<title>详情页</title>
<link rel="stylesheet" href="./style/reset.css">
<link rel="stylesheet" href="./style/xiangqing.css">

</head>

<body>

    <!-- 顶部导航 -->
    <div id="top_nav">
        <div class="top_nav_con">
            <ul class="top_nav1">
                <li>
                    <a href="#">
                        <span></span>收藏鲜花网(hua.com)</a>
                </li>
                <li>
                    <a href="#">
                        <span></span>关注微信</a>
                    <div class="box1">
                        <img src="./image/watch.png" alt="">
                        <p>
                            扫码关注
                            <br> 回复"礼物" 更多惊喜！
                        </p>
                    </div>
                </li>
                <li>
                    <a href="#">
                        <span></span>礼花网app</a>
                    <div class="box2">
                        <img src="./image/app.png" alt="">
                        <p>新人专享100元APP礼包</p>
                    </div>
                </li>
            </ul>
            <ul class="top_nav2">
                <li>
                    <a href="#">你好，请登录</a>
                    <a href="#">注册</a>
                </li>
                <li>
                    <a href="#">订单查询</a>
                </li>
                <li class="menu">
                    <a class="fuwu" href="">客服服务
                        <span class="arrow"></span>
                    </a>
                    <div class="drop-box">
                        <a href="">在线付款</a>
                        <a href="">帮助中心</a>
                        <a href="">售后服务</a>
                        <a href="">配送范围</a>
                        <a href="">留言反馈</a>
                    </div>
                </li>
                <li>
                    <a href="">购物车(0)</a>
                </li>
                <li>中国鲜花礼品网:中国鲜花网领先品牌</li>
            </ul>
        </div>
    
    </div>
    <!-- 搜索栏 -->
    <div id="hader">
        <div class="hader_con">
            <div class="logo">
                <a href="#"></a>
            </div>
            <div class="sear_box">
                <div class="sear_box1">
                    <div class="icon">
                        <span></span>
                    </div>
                    <input type="text" placeholder="商品搜索">
                    <button>搜索</button>
                </div>
                <div class="sear_box2">
                    <a href="#">红玫瑰</a>
                    <a href="#">永生花</a>
                    <a href="#">生日鲜花</a>
                    <a href="#">礼品卡</a>
                </div>
            </div>
            <div class="service">
                <div class="phone">
                    <span></span>
                    <h3>400-889-8188</h3>
                </div>
                <div class="online_ser">
                    <span></span>
                    <h3>在线客服</h3>
                </div>
            </div>
        </div>
    </div>
    
    <!-- 导航 -->
    <div id="navi">
        <div class="navi_con">
            <div class="categorys">
                <span></span>
                <a href="#">所有分类</a>
            </div>
            
            <ul class="liebiao">
                <li>
                    <a href="#">鲜花</a>
                </li>
                <li>
                    <a href="#">永生花</a>
                </li>
                <li>
                    <a href="#">蛋糕</a>
                </li>
                <li>
                    <a href="#">礼品</a>
                </li>
                <li>
                    <a href="#">巧克力</a>
                </li>
                <li>
                    <a href="#">花语大全</a>
                </li>
                <li>
                    <a href="#">企业团购</a>
                </li>
                <li>
                    <a href="#">设计师臻选鲜花</a>
                </li>
                <li>
                    <a href="#">情人节鲜花礼物</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="wrap">
        <div class="main">
            <div class="left">
                <!-- <img src="./img/min.jpg" alt=""> -->
                <div class="Shang">
                    <!-- //鼠标进入的阴影 -->
                    <div class="mask"></div>
                    <img class= 'active' src="https://img01.hua.com/uploadpic/newpic/1073155.jpg" alt="">
                    <img src="https://img01.hua.com/uploadpic/newpic/201711021552529313.jpg" alt="">
                    <img src="https://img01.hua.com/uploadpic/newpic/201711021552582855.jpg" alt="">
                    <img src="https://img01.hua.com/uploadpic/newpic/201711021553043517.jpg" alt="">
                </div>
                <div class="Xia">
                    <img src="https://img01.hua.com/uploadpic/newpic/1073155.jpg" alt="">
                    <img src="https://img01.hua.com/uploadpic/newpic/201711021552529313.jpg" alt="">
                    <img src="https://img01.hua.com/uploadpic/newpic/201711021552582855.jpg" alt="">
                    <img src="https://img01.hua.com/uploadpic/newpic/201711021553043517.jpg" alt="">
                </div>
            </div>
            <!-- <div class="right">
            <img src="./img/msg.png" alt="">
          </div> -->
            <div class="maxBox">
                <img src="https://img01.hua.com/uploadpic/newpic/1073155.jpg" alt="">
                <img src="https://img01.hua.com/uploadpic/newpic/201711021552529313.jpg" alt="">
                <img src="https://img01.hua.com/uploadpic/newpic/201711021552582855.jpg" alt="">
                <img src="https://img01.hua.com/uploadpic/newpic/201711021553043517.jpg" alt="">
            </div>
            <img src="./image/shuoming.png" alt="" class="shuoming">
        </div>
        
    </div>

    <!-- 底部 -->
    <div id="footer">
        <div class="footer_con">
            <div class="ft_nav">
                <a href="##">首页</a>
                <a href="##">关于我们</a>
                <a href="##">媒体报道</a>
                <a href="##">联系方式</a>
                <a href="##">企业团购</a>
                <a href="##">花店入驻</a>
                <a href="##">友情链接</a>
                <a href="##">在线补款</a>
                <a href="##">为什么选择中国鲜花礼品网</a>
            </div>
            <div class="ft_site">
                <p>
                    <a href="##">中国花卉协会会员 中国电子商务协会会员 ICP经营许可证：粤B2-20050744 粤ICP备09171662号</a>
                    <span></span>
                    <a href="##">粤公网安备44030502000373号 Copyright © 2005-2020</a>
                </p>
                <p>花礼网 （中国鲜花礼品网） www.hua.com 深圳市百易信息技术有限公司 中国鲜花网领先品牌，鲜花速递专家！</p>
                <div class="ft-auth">
                    <span class="slogan"></span>
                    <span class="xiaofei"></span>
                    <span class="jing"></span>
                    <span class="gongsh">
                        <img src="https://szcert.ebs.org.cn/Images/govIcon.gif" alt="">
                    </span>
                </div>
                <p class="youlian">友链 中华取名网 深圳房产网 卷皮网 腕表 苗木 佐卡伊珠宝网 钻石婚戒定制 中国青少年艺术教育网 淘狗网 礼无忧网 宠物狗 机友网 礼物网 新三板 商标注册 眼镜店</p>
            </div>
        </div>
    </div>
</body>


<script>
    var ImgC = document.querySelectorAll('.Xia img')
    var ImgA = document.querySelectorAll('.Shang img')
    var maxImg = document.querySelectorAll('.maxBox img')
    var ImgAShang = document.querySelector('.left .Shang')
    var mask = document.querySelector('.Shang .mask')
    var maxBox = document.querySelector('.maxBox')


    // 图片切换
    var prevIndex = 0 // 上次选中元素的索引
    for (var i = 0, len = ImgC.length; i < len; i++){
        // 给每一个DOM对象添加index属性保存对应的索引
        ImgC[i].index = i
        ImgC[i].onmouseenter = function (){
        // 1.清除上次选中元素的类名
        ImgA[prevIndex].className = ''
        // 2.给当前点击的元素添加类名
        ImgA[this.index].className = 'active'
        // 3.更新上次选中的索引
        prevIndex = this.index
        }
    }

    ImgAShang.onmouseenter = function () {
        mask.style.display = 'block'
        maxBox.style.display = 'block'
        maxImg[prevIndex].style.display = 'block'
    }
    ImgAShang.onmouseleave = function () {
        mask.style.display = 'none'
        maxBox.style.display = 'none'
        maxImg[prevIndex].style.display = 'none'
    }
    ImgAShang.onmousemove = function (ev) {
            var e = ev || event
            // 遮罩层left=鼠标到页面左侧的距离-left容器到最外层的距离-遮罩层宽的一半
            var mask_left = e.pageX - offset(ImgAShang).left - mask.clientWidth / 2
            var mask_top = e.pageY - offset(ImgAShang).top - mask.clientHeight / 2
            // 临界值判断
            if (mask_left <= 0) {
                mask_left = 0
            }
            if (mask_left >= (ImgAShang.clientWidth - mask.clientWidth)) {
                mask_left = (ImgAShang.clientWidth - mask.clientWidth)
            }
            if (mask_top <= 0) {
                mask_top = 0
            }
            if (mask_top >= (ImgAShang.clientHeight - mask.clientHeight)) {
                mask_top = (ImgAShang.clientHeight - mask.clientHeight)
            }
            // 赋值，改变遮罩层定位
            mask.style.left = mask_left + 'px'
            mask.style.top = mask_top + 'px'

            // 移动比例
            var scaleX = mask_left / (ImgAShang.clientWidth - mask.clientWidth)
            var scaleY = mask_top / (ImgAShang.clientHeight - mask.clientHeight)
            // 根据比例计算出大图的定位
            var img_left = (maxImg[prevIndex].clientWidth - maxBox.clientWidth) * scaleX
            var img_top = (maxImg[prevIndex].clientHeight - maxBox.clientHeight) * scaleY
            // 赋值，改变大图定位，反向运动
            maxImg[prevIndex].style.left = -img_left + 'px'
            maxImg[prevIndex].style.top = -img_top + 'px'
        }

    // 获取某个元素到最外层左侧/顶部的距离
    function offset(dom, bool) {
        var l = 0
        var t = 0
        var domBDL = dom.clientLeft
        var domBDT = dom.clientTop
        while (dom) {
            l += dom.clientLeft + dom.offsetLeft
            t += dom.clientTop + dom.offsetTop
            dom = dom.offsetParent
        }
        // return [l,t]
        if (bool) {// 带自身边框
            return { left: l, top: t }
        } else {// 不带自身边框
            return { left: l - domBDL, top: t - domBDT }
        }
    }

</script>

</html>